<!DOCTYPE html>
<html>
<head>
    <meta charset=”UTF-8”>
    <title>Miguezeiros da FT - Galeria</title>
    <link rel="stylesheet" type="text/css" href="_css/galeria.css"/>

</head>
<body>
    
<!--------------------GALERIA DE FOTOS------------------------->
    <br id="img1">
    <div id='rolagem'>
        
        <img class="foto" src="_img/galeria/5.jpg" alt="Foto do grupo reunido." title="Foto do grupo reunido."><br><br><br>
        <img class="foto" src="_img/galeria/4.jpg" id="img2" alt="Integrantes no mercado." title="Integrantes no mercado."><br>
        <img class="foto" src="_img/galeria/6.jpg" id="img3" alt="Integrantes no churrasco." title="Dois integrantes do grupo."><br>
        <img class="foto" src="_img/galeria/7.jpg" id="img4" alt="Integrantes no estádio." title="Integrantes no estádio."><br>
        <img class="foto" src="_img/galeria/8.jpg" id="img5" alt="Furone no Mercado Livre XP, com o Fred." title="Furone no Mercado Livre XP, com o Fred."><br><br>
        
        <div id="vazio"></div>
    </div>
    <div id="miniaturas">
        <div id="info_miniatura">Clique na miniatura para ver a foto!</div>
        <div class="caixa-miniatura"><a href="#img1"><img width="100%" height="100%" src="_img/galeria/5.jpg" alt="Imagem 1"></a></div>
        <div class="caixa-miniatura"><a href="#img2"><img width="100%" height="100%" src="_img/galeria/4.jpg" alt="Imagem 2"></a></div>
        <div class="caixa-miniatura"><a href="#img3"><img width="100%" height="100%" src="_img/galeria/6.jpg" alt="Imagem 3"></a></div>
        <div class="caixa-miniatura"><a href="#img4"><img width="100%" height="100%" src="_img/galeria/7.jpg" alt="Imagem 4"></a></div>
        <div class="caixa-miniatura"><a href="#img5"><img width="100%" height="100%" src="_img/galeria/8.jpg" alt="Imagem 5"></a></div>
        <div class="caixa-miniatura" id="botao"><a href="index.html">Página principal</a></div>
    </div>
</body>
</html>