<!DOCTYPE html>
<html>
	<head>
	<title>Site</title>
	<link rel="stylesheet" type="text/css"  href="_css/up.css">
	</head>

<body>

	<nav id="menu" class="navbar-default"> 

		<div class="navbar-header">
			<a id="LogoNavbar" href="#page-top">Logo</a> 

			<ul class="navbar-right">
				<li><a href="#about">Sobre</a></li>
				<li><a href="#restaurant-menu">Menu</a></li>
				<li><a href="#portfolio">Galeria</a></li>
				<li><a href="#team">Professores</a></li>
				<li><a href="#call-reservation">Contato</a></li>
			</ul> 
		</div>

	</nav>
<!--
	<header id="header">
		<div class="intro">
			<div class="overlay">
				<div class="container">
					<div class="row">
					<div class="intro-text">
					<h1>Logo</h1>
					<p>Sub1 / Sub2 / Sub3</p>
					<a href="#about" class="btn btn-custom btn-lg page-scroll">Discover</a> </div>
					</div>
				</div>
			</div>
		</div>
	</header>
-->
</body>
</html>