body {
    position: fixed;
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

#barra_esquerda {
    margin:0px;
    padding: 0px;
    border: 0px;
    width: 35%;
    height: 100%;
    background-color: black;
    float:left;
}

#barra_direita {
    margin:0px;
    padding: 0px;
    border: 0px;
    width: 65%;
    height: 100%;
    background-image: url('fundo.jpg');
    background-size: cover;
    float: right;
}

h1 {
    color: white;

}