body{
    margin: 6px;
    background-color: #000000;
    color: #ffffff;
    }

#rolagem{
    overflow-y: hidden;
   /* height: 800px; */
    overflow-x: hidden;
    margin-bottom: 10px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
}

.caixa-miniatura{
    border: 1px solid #999;
    width: 100px;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px;
    overflow: hidden;
    height: 57px;
}

#miniaturas{
    text-align: center;
    position: fixed;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    border-top: thin solid #757575;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000000;
}