/*----------------GERAL---------------*/
@font-face {
	font-family: 'cs_regular';
	font-style: normal;
	font-weight: normal;
	src: url(../_font/cs_regular.ttf);
}

body, html {
	background:white;
	background-size: 100%;
	/*font-family: 'Libre Barcode 128 Text', cursive;*/
	font-family: Arial;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
	margin: 0;	
	padding: 0;
	border: 0;
}

header{
	background-image: url('../_img/img_fundo5.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 100%;
}

footer{
	text-align: center;
	font-size: larger;
	height: 10%;	
}

a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}

a#descobrir{
	font-size: 30px;
}

a:hover {
	color: #255;
	transition: 0.8s;
}

/*----------------NAV---------------*/
.navbar {
	position: fixed;
	min-height: 50px;	
	max-height: 50px;
	top: 0;
	right: 0;
	left: 0;
	font-weight: 500;
	background-color: lightslategray;
	opacity: 0.8;
}

.navbar div {
	height: 50px;
	padding: 15px;
	line-height: 20px;
}

.navbar ul {
	text-transform: uppercase;
	padding: 0px;
    margin: 0px; 
	list-style: none;
}

.navbar ul li a {
	float: right;
	display: inline;
	padding-right: 10px;
	margin: 0;
	right: 0%;
	font-family: 'cs_regular';
}

a#logo{
	float: left;
	font-size: 40px;
}

/*----------------TOP---------------*/
.top {
	padding-top: 15%;	
	text-align: center;
}

.top h1 {
	color: #fff;
	font-size: 8em;
	font-weight: 700;
	margin: 5% auto 3% auto;
	font-family: 'cs_regular';
}

.top p {
	font-family: 'Ubuntu', sans-serif;
	color: #fff;
	font-size: 32px;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 40px;
}

/*----------------MID---------------*/
.mid {
	font-family: 'Ubuntu', sans-serif;
	color: black;
	/*padding-left: 2%;
	/*padding-top: 15%;
	padding-bottom: 15%;*/
	width:100%;
	height:100%;
}

.conteudo-left{
  /*Novamente definimos a largura da div*/
  width:30%;
  /* altura da div */
  height:300px;
  /* O atributo Float é utilizado para fazermos o nosso bloco(div) literalmente flutue e se posicione onde queremos na página, quando escolhemos left, dizemos que esse bloco irá se posicionar na parte esquerda da página */
  float:left;	
  /* Cor de fundo da div */
  background-image: url('../_img/pocketmito.jpg');
  background-size: cover;
	background-position: center;

  margin-right: 10%;
  margin-left: 10%;
}
.conteudo-right{
  /*Novamente definimos a largura da div*/
  width:45%;
  /* altura da div */
  height:300px;
  /* Pode parecer meio estranho usarmos o mesmo atributo left para o bloco em que queremos posicionar na direita, mas como sabemos, o CSS é um estilo em cascata, nossa div conteúdo definimos a largura de 1000px e na conteudo-left 500px, 
automaticamente ao definirmos o conteudo-right com 500px e à esquerda também, ele ficou à direita do conteudo-left, pois o máximo que a div filha poderá ter é 1000px, sendo 500+500=1000px */
  float:left;
  /* Cor de fundo da div */
}


.mid h2 {
	font-size: 30px;
	color: white;
}

.mid p {
	font-size: 16px;
}

img#mid{
	padding-top: 150px;
	padding-right: 100px;
	float: right;
	height:80%; 
	width:30%;
}

div#back {
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	background: white url(../_img/img_fundo5.jpg) center center no-repeat fixed;
	background-size: cover;
}

div#about {
	padding-top: 5%;
	padding-bottom: 40%;
	font-family: 'Ubuntu', sans-serif;
	color:black;
	width:100%;
	height:50%;
}

#lucas-conteudo{
	width:45%;
	height:60%;
  	float:left;	
	background-image: url('../_img/lucas.jpeg');
	background-size: cover;
	background-position: center;
	margin-top: 2%;
	margin-right: 2%;
	margin-left: 2%;
	right: 0;
}

div#back-lucas {
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	background: white url(../_img/pocket.jpg) center center no-repeat fixed;
	background-size: cover;
}



