/*----------------GERAL---------------*/
@font-face {
	font-family: 'cs_regular';
	font-style: normal;
	font-weight: normal;
	src: url(../_font/cs_regular.ttf);
}

body, html {
	background:white;
	background-size: 100%;
	/*font-family: 'Libre Barcode 128 Text', cursive;*/
	font-family: Arial;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
	margin: 0;	
	padding: 0;
	border: 0;
}

header{
	background-image: url('../_img/img_fundo5.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 100%;
}


a {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	color: rgb(116, 116, 116);
	text-decoration: none;
}


	a#descobrir{
		padding: 2%;
		background-color: rgb(12, 12, 12);
		font-size: 20px;
	}

	a:hover {
		color: white;
		transition: 0.4s;
	}

.search {
	padding-top: 5%;
}

/*----------------NAV---------------*/


.navbar{
	width: 100%;
	height: 35px;
	background-color: #1C1C1C;
	font-family: 'Ubuntu', sans-serif;
	position: fixed;
	opacity: .8;
}
	
	.navbar a:hover{
		color: white;
	}

	.navbar ul{
		list-style: none;
		position: relative;
		margin: 0;
		padding: 0;
		float: right;
	}

	.navbar ul li{
			width: 130px;
			float: left;
		
			text-align: center;
	}

	.navbar a{
			padding: 5px;
			display: block;
			text-decoration: none;
			text-align: center;
			background-color: #1C1C1C;
			color: white;
	}		

	.navbar ul ul{
		visibility: hidden;
		position: absolute;
	}

	.navbar ul li:hover ul{
		visibility: visible;
	}

	.navbar a:hover{
		background-color: #1C1C1C;
		color: #BBBBBB;
	}

	.navbar ul li li{
		float: none;
	}

	ul#logo{
		float: left;
	}


/*----------------TOP---------------*/
.top {
	padding-top: 15%;	
	text-align: center;
}

	.top h1 {
		color: #fff;
		font-size: 130px;
		/*font-weight: 700;*/
		margin: 5% auto 3% auto;
		font-family: 'Luckiest Guy', cursive;
	}

	.top p {
		font-family: 'Ubuntu', sans-serif;
		color: #fff;
		font-size: 32px;
		font-weight: 300;
		margin-top: 10px;
		margin-bottom: 40px;
	}

/*----------------Configurações MID---------------*/
.mid {
	font-family: 'Ubuntu', sans-serif;
	color: black;
	/*padding-left: 2%;
	/*padding-top: 15%;
	padding-bottom: 15%;*/
	width:100%;
	height:100%;
}

	.mid h2 {
		font-size: 30px;
		color: white;
		}

	.mid p {
		font-size: 16px;
		text-align: justify;
	}

	.mid hr{
		height: 2px;
		width: 70px;
		text-align: center;
		position: relative;
		border: 0;
		background: blue;
		margin-bottom: 40px;
	}

/*Bloco para conteúdo tamanho padrão*/
.bloco-conteudo{
  width:40%;
  height:350px;
  float:left;
  margin: 2% 2% 10% 2%;	
  padding-left: 5%;
}

/*Imagem de fundo entre as seções*/
div#back {
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	background: white url(../_img/fundo_si.jpg) center no-repeat fixed;
	background-size: cover;
}

img#mid{
	padding-top: 150px;
	padding-right: 100px;
	float: right;
	height:80%; 
	width:30%;
}

/*-----------------------------SEÇÕES-----------------------------*/

/*-------------- FILIPE----------------*/
/*Seção Objetivos*/
#imagemObjetivos{
	width:30%;
	height:300px;
	float:left;	
	background-image: url('../_img/metas-e-objetivos.png');
	background-size: cover;
	background-position: center;
	margin-right: 10%;
	margin-left: 10%;
  }

  #conteudoObjetivos{
	width:45%;
	height:400px;
	float:left;	
	
  }


div#about {
	padding-top: 5%;
	padding-bottom: 40%;
	font-family: 'Ubuntu', sans-serif;
	color:black;
	width:100%;
	height:50%;
}



/*--------------LUCAS----------------*/
/*BIOGRAFIA*/

 div#backLucas {
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	background: white url(../_img/img_fundo5.jpg) center no-repeat fixed;
	background-size: cover;
} 

div#imgLucas{
	background-image: url(../_img/luc.jpg);
	background-size: cover;
	width: 120px;
	height: 120px;
	margin-right: 3%;
	float: left;
}


/*--------------LEONARDO----------------*/
div#imgLeo{
	background-image: url(../_img/furone.jpg);
	background-size: cover;
	width: 120px;
	height: 120px;
	margin-right: 3%;
	float: left;
}

div#Leonardo {
	height: 700px;
}

/*--------------HENRIQUE----------------*/



/*--------------RODRIGO----------------*/

div#imgRodrigo{
	background-image: url(../_img/bill.jpg);
	background-size: cover;
	width: 120px;
	height: 120px;
	margin-right: 3%;
	float: left;
}

/*-----------------------------RODAPÉ-----------------------------*/
footer{
	font-family: 'Ubuntu', sans-serif;
	height: 326px;
	background-color: rgb(12, 12, 12);
	text-align: left;
	font-family: 'Montserrat', sans-serif;
}

.rod {
	display: block;
	float: left;
}

	.rod p{
		color: white;
		margin: 0px;
		padding: 0px;
		border: 0px;
	}

	p#titulo{
		font-size: 25px;
		font-weight: bold;
	}

	p#info{
		padding-top: 6px;
		padding-bottom: 6px;
	}

#r1 {
	padding-right: 5%;
	margin-left: 4.96%;
	margin-top: 4.7%;
}

#r2 {
	margin-top: 5.5%;
	padding-left: 5%;
	padding-right: 5%;
}

#r3 {
	margin-top: 5.2%;
	padding-left: 5%;
	padding-right: 5%;
}

#r4 {
	margin-top: 4.7%;
	padding-left: 5%;
}