body{
    margin: 0px;
    background-color:darkslategrey;
    background-image: url(../_img/_background/img_fundo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #ffffff;
    overflow: hidden; 

    }

#rolagem{

    margin-bottom: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;

}

#rolagem:hover{
    background-color: rgba(0,0,0,0.83);
    transition: 0.8s;
}

.foto{
    width: 40%;
    height: 40%;
    overflow: hidden;
    border-radius: 16%;
    padding: 6%;    
    
}
 
.caixa-miniatura{
    border: 1px solid #999;
    width: 5%;
    display: inline-block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0px;
    height: 5%;
    overflow: hidden;
}

#info_miniatura{
    color:darkslateblue;
    font-family: "Segoe UI";
    text-align: center;
    padding-bottom:5px;
    font-weight: bold;
}

#info_miniatura:hover{
    transition: 0.7s;
    background-color:darkslategrey;
    color: aliceblue;
}

#miniaturas{
    text-align: center;
    position: fixed;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    left: 13%;
    right: 13%;
    border-top: thin solid #757575;
    padding-top: 5px;
    padding-bottom: 7px;
    background-color: rgba(200,200,200,0.8);
}

#botao{
    background-color: #ffffff;
    padding: 5px;
    color: #757575;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    border-radius: 15%;
}

#botao:hover{
    transition: 0.5s;
    background-color: rgb(84, 84, 85);
    color: aliceblue;
}

#vazio{
    padding: 100px;
}